service-integrations/statemachine/service-integrations.asl.json
{
    "Comment": "A Service Integrations demonstration",
    "StartAt": "Write to DynamoDB",
    "States": {
        "Write to DynamoDB": {
        "Type": "Task",
        "Resource": "arn:aws:states:::dynamodb:putItem",
        "Parameters": {
            "TableName": "${DemoTableName}",
            "Item": {
                "id": {"S.$": "$$.Execution.Id"},
                "Name": {"S": "María García"},
                "Channel": {"S.$": "$.Channel"}
            }
        },
        "ResultPath": "$.DynamoDB",
        "Next": "Send Message to SQS"
        },
        "Send Message to SQS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "Parameters": {
                "QueueUrl": "${DemoQueueUrl}",
                "MessageBody.$": "$.DynamoDB"
            },
            "ResultPath": "$.SQS",
            "Next": "Publish to SNS"
        },
        "Publish to SNS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${DemoTopicArn}",
                "Message": {
                    "Input": "Hello from Step Functions!"
                }
            },
            "ResultPath": "$.SNS",
            "End": true
        }
    }
}
