jsonpath/state-machines/pass-state-manipulation.asl.json
{
    "Comment": "A Hello World example demonstrating various state types of the Amazon States Language",
    "StartAt": "Pass",
    "States": {
        "Pass": {
            "Comment": "A Pass state passes its input to its output, without performing work. Pass states are useful when constructing and debugging state machines.",
            "Type": "Pass",
            "Next": "Invoke Lambda function"
        },
        "Invoke Lambda function": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FUNCTION_NAME",
                "Payload": {
                    "name.$": "$.name"
                }
            },
            "ResultPath": "$.lambdaOutput",
            "Next": "Manipulator"
        },
        "Manipulator": {
            "Type": "Pass",
            "Parameters": {
                "Date": "2020-04-28T18:38:00",
                "Message.$": "$.lambdaOutput.Payload.Message"
            },
            "End": true
        }
    }
}
