parallelism/dynamic-parallelism/statemachine/dynamic-parallelism.asl.json
{
    "Comment": "An example of the Amazon States Language using a map state to process elements of an array with a max concurrency of 2.",
    "StartAt": "Authorize Charge",
    "States": {
        "Authorize Charge": {
            "Type": "Pass",
            "Result": {
                "AuthorizationSucceeded": true,
                "AuthorizationID": "1234567890",
                "AuthorizedAmount": "81.48"
            },
            "ResultPath": "$.chargeAuthorization",
            "Next": "Check Authorization"
        },
        "Check Authorization": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.chargeAuthorization.AuthorizationSucceeded",
                    "BooleanEquals": true,
                    "Next": "Retrieve Items"
                }
            ],
            "Default": "Authorization Failed"
        },
        "Retrieve Items": {
            "Type": "Pass",
            "Result": [
                {"SKU": "asdf", "quantity": 1, "price": "2.50"},
                {"SKU": "qwer", "quantity": 17, "price": "4.21"}
            ],
            "ResultPath": "$.orderItems",
            "Next": "Map"
        },
        "Map": {
            "Type": "Map",
            "ItemsPath": "$.orderItems",
            "ResultPath": "$.lockedItems",
            "MaxConcurrency": 40,
            "Next": "Print Label",
            "Iterator": {
                "StartAt": "Lock Item",
                "States": {
                    "Lock Item": {
                        "Type": "Pass",
                        "Result": "Done!",
                        "Next": "Pull Item"
                    },
                    "Pull Item": {
                        "Type": "Pass",
                        "Result": "Done!",
                        "Next": "Pack Item"
                    },
                    "Pack Item": {
                        "Type": "Pass",
                        "Result": "Done!",
                        "End": true
                    }
                }
            }
        },
        "Print Label": {
            "Type": "Pass",
            "Result": "Done!",
            "Next": "Complete Charge"
        },
        "Complete Charge": {
            "Type": "Pass",
            "End": true
        },
        "Authorization Failed": {
            "Type": "Fail",
            "Cause": "Charge could not be authorized"
        }
    }
}